.box .bar {
  background-color: var(--primary-500);
  color: var(--primary-100);
}

.bar .titulo {
  font-weight: bold;
  font-size: 2rem;
  color: var(--primary-100);
  letter-spacing: 1px;
}

.bar .nav {
  background-color: var(--primary-100);
}

.bar .menu-boton {
  color: var(--primary-100);
  transition: color 0.3s ease;
}

.bar .menu-boton:hover {
  color: var(--primary-300); /* azul medio al hover */
}

.bar .MuiSvgIcon-root {
  font-size: 3rem; /* íconos más grandes */
}

.bar .MuiMenu-paper {
  background-color: var(--primary-400);
  color: var(--white);
}

.bar .MuiMenuItem-root {
  font-size: 0.95rem;
}

.bar .MuiMenuItem-root:hover {
  background-color: var(--secondary-400);
}
