.header {
    width: 100%;
    background-color: #4f46e5;
    padding: 1rem;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); 
    display: flex;
    align-items: center; 
    position: relative; 
    z-index: 10; 
}


.header h1 {
    margin: 0;
}

.header-link {
    color: #ffffff; 
    text-decoration: none; 
    font-size: 1.8rem; 
    font-weight: bold; 
    transition: color 0.3s; 
}

.header-link:hover {
    color: #d1d5db; 
}

.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 80px); 
    background-color: #000000;
    padding-top: 2rem; 
    padding-bottom: 10rem; 
}

h2 {
    text-align: center;
    margin-bottom: 1rem;
    font-size: 2.8rem; 
    color: #ffffff;
}
.formulario {
    background-color:#c0392b;
    padding: 2rem;
    margin-left: 10px;
    border-radius: 8px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.459);
    width: 100%;
    max-width: 400px;
    height: 45vh;
    width: 60vh;
}

.form-group {
    margin-bottom: 1.5rem;
}

.form-group label {
    display: block;
    font-size: 1rem;
    font-weight: 600;
    color: #ffffff;
    margin-bottom: 0.5rem;
}

.form-group input {
    width: 93%;
    padding: 0.75rem;
    border: 1px solid #c0392b;
    border-radius: 4px;
    font-size: 1rem;
    outline: none;
    transition: border-color 0.3s;
}

.form-group input:focus {
    border-color: #4f46e5;
}

.btn-login {
    display: block;
    width: 100%;
    padding: 0.75rem;
    background-color: #4f46e5;
    color: #ffffff;
    font-size: 1rem;
    font-weight: 600;
    border: 1px solid #4f46e5;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.btn-login:hover {
    background-color: #ebebeb;
    color: #333333;
    border: 1px solid #cccccc;
    border-radius: 4px;
    cursor: pointer;
}

.forgot-password {
    text-align: left;
    margin-bottom: 1rem;
}

.btn-forgot-password {
    background: none;
    border: none;
    color: #a5a5a5;
    font-size: 0.9rem;
    font-weight: 600;
    cursor: pointer;
    text-decoration: underline;
    transition: color 0.3s;
}

.btn-forgot-password:hover {
    color: #4f46e5;
}


.divider {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0;
}

.divider span {
    color: #333333;
    font-size: 1rem;
    font-weight: 600;
    margin: 0 1rem;
}

.divider::before,
.divider::after {
    content: "";
    flex: 1;
    height: 1px;
    background-color: #cccccc;
}
.btn-register {
    display: block;
    width: 100%;
    padding: 0.75rem;
    background-color: #ebebeb;
    color: #333333; 
    font-size: 1rem;
    font-weight: 600;
    border: 1px solid #cccccc;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
}

.btn-register:hover {
    background-color: #4f46e5; 
    border-color: #999999; 
    color: #ffffff;
}

.footer {
    width: 100%;
    background-color: #333333; 
    color: #ffffff; 
    text-align: center;
    padding: 1rem;
    position: absolute;
    bottom: 0;
}